In [1]:
1+2+3+4+5

15

In [6]:
1+2+3+\
4+5

15

In [7]:
1+2+3\
+4+5

15

In [8]:
(1+2+3+
4+5)

15

In [9]:
{1+2+3+
4+5}

{15}

In [10]:
[1+2+3+
4+5]

[15]

In [12]:
x=2
a=b='Python'
p,q,r="New",234,True
s=6;t=56;u=87

In [13]:
#it is a case sensitive language
K=3
k=10
print(x,a,b,p,q,r,s,t,u,K,k)

2 Python Python New 234 True 6 56 87 3 10

In [14]:
a

'Python'

In [17]:
a=5
b=5.5
c=5+1j
d="Hello"
e=True
print(a,b,c,d,e)
print(type(a),type(b),type(c),type(d),type(e))

5 5.5 (5+1j) Hello True
<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'>

In [24]:
2%10

2

In [25]:
10%3

1

In [26]:
2==2

True

In [27]:
2==3

False

In [28]:
2!=3

True

In [29]:
int(5.3)

5

In [30]:
int('5')

5

In [31]:
float('5.4')

5.4

In [32]:
savings=5000

In [33]:
x="I have saved $"

In [35]:
x+str(savings)

'I have saved $5000'

In [39]:
print('I have saved $',savings,sep='')

I have saved $5000

In [41]:
print('My name is {} and I am a {}'.format("Shubham","trainer"))

My name is Shubham and I am a trainer

In [42]:
print('My name is {0} and I am a {1}'.format("Shubham","trainer"))

My name is Shubham and I am a trainer

In [43]:
t=23,'python',True,3+2j

In [44]:
t=23,'python',True,3+2j
l=[23,'python',True,3+2j]

In [46]:
print(t,l)
print(type(t),type(l))

(23, 'python', True, (3+2j)) [23, 'python', True, (3+2j)]
<class 'tuple'> <class 'list'>

In [47]:
t

(23, 'python', True, (3+2j))

In [48]:
l

[23, 'python', True, (3+2j)]

In [49]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [50]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
l[1]="python3"
l

[23, 'python3', True, (3+2j)]

In [57]:
t[1]="python3"

TypeError: 'tuple' object does not support item assignment

In [58]:
l.pop(1)

'python3'

In [59]:
l

[23, True, (3+2j)]

In [60]:
l

[23, True, (3+2j)]

In [61]:
l[0]

23

In [62]:
l[-3]

23

In [63]:
l[0:2]

[23, True]

In [64]:
l

[23, True, (3+2j)]

In [65]:
l[0:3]

[23, True, (3+2j)]

In [66]:
l[1:]

[True, (3+2j)]

In [67]:
l[:2]

[23, True]

In [68]:
l[:2]=["x",3]

In [69]:
l

['x', 3, (3+2j)]

In [70]:
len(l)

3

In [71]:
del(l[2])

In [72]:
l

['x', 3]

In [73]:
x=['a','b','c','d','e']

In [74]:
y=x

In [75]:
y

['a', 'b', 'c', 'd', 'e']

In [76]:
y[1]="zzz"

In [77]:
x

['a', 'zzz', 'c', 'd', 'e']

In [78]:
x=['a','b','c','d','e']

In [79]:
g=list(x)

In [80]:
g[0]="ggggg"

In [81]:
g

['ggggg', 'b', 'c', 'd', 'e']

In [82]:
x

['a', 'b', 'c', 'd', 'e']

In [85]:
sales2019=[3200,3400,2300,4000]
sales2020=[4200,1200,500,2000]

In [86]:
sales2019+sales2020

[3200, 3400, 2300, 4000, 4200, 1200, 500, 2000]

In [87]:
height=[180,174,150]
weight=[94,80,57]

In [88]:
bmi=weight/height**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [90]:
import numpy as np

In [91]:
sales2019_a=np.array(sales2019)
sales2020_a=np.array(sales2020)

In [92]:
sales2019_a+sales2020_a

array([7400, 4600, 2800, 6000])

In [93]:
from numpy import array

In [94]:
weight_A=array(weight)
height_A=array(height)

In [100]:
bmi_A=weight_A/height_A**2

In [101]:
bmi_A

array([0.00290123, 0.00264236, 0.00253333])

In [97]:
country=['a','b','c']
population=[1,5,8]

In [98]:
country.index('b')

1

In [99]:
population[1]

5

In [102]:
world={'a':1,'b':5,'c':8}

In [103]:
world['b']

5

In [104]:
import pandas as pd

In [108]:
hp=pd.read_csv('Lesson 10 Regression Analysis Ex 1.csv')
hp.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0